<!--
- projects in about section
-->
<section class="clients">
  <h3 class="h3 clients-title">Projects</h3>

  <ul class="clients-list has-scrollbar">
    <li class="clients-item">
      <a href="#">
        <img src="./assets/images/logo-dark.png" alt="client logo" />
      </a>
    </li>
    <li class="clients-item">
      <a href="#">
        <img
          src="./assets/images/775476af-6585-4f13-9f82-dfe64bf76258.png"
          alt="client logo" />
      </a>
    </li>
    <li class="clients-item">
      <a href="#">
        <img
          src="./assets/images/94b20d53-3312-4d25-afb5-39724dbc2978.png"
          alt="client logo" />
      </a>
    </li>
    <li class="clients-item">
      <a href="#">
        <img src="./assets/images/favicon.png" alt="client logo" />
      </a>
    </li>
    <li class="clients-item">
      <a href="#">
        <img src="./assets/images/science.png" alt="client logo" />
      </a>
    </li>
    <li class="clients-item">
      <a href="#">
        <img src="./assets/images/logo1.png" alt="client logo" />
      </a>
    </li>
  </ul>
</section>
