<!--
- Skills section
-->
<section class="skill">
  <h3 class="h3 skills-title">My skills</h3>

  <div class="skills-list content-card">
    <!-- Frontend Skills -->
    <div class="skill-category">
      <h4 class="skill-category-title">Frontend</h4>
      <ul class="clients-list has-scrollbar">
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-nextjs-96.png" alt="Next.js"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"><img src="./assets/images/React.png" alt="React" /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-vite-96.png" alt="Vite"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img
              src="./assets/images/icons8-tailwindcss-96.png"
              alt="Tailwind CSS"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-redux-50.png" alt="Redux"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img
              src="./assets/images/301af319-fd71-477e-8c55-956e3a7c1b01.png"
              alt="JavaScript"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img
              src="./assets/images/React-Query-Icon--Streamline-Svg-Logos.png"
              alt="React Query"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-html5-96.png" alt="HTML5"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-pug-96.png" alt="Pug"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-css3-96.png" alt="CSS3"
          /></a>
        </li>
      </ul>
    </div>

    <!-- Backend Skills -->
    <div class="skill-category">
      <h4 class="skill-category-title">Backend</h4>
      <ul class="clients-list has-scrollbar">
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-nodejs-100.png" alt="Node.js"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img
              src="./assets/images/icons8-express-js-100 (1).png"
              alt="Express.js"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-rest-api-100.png" alt="REST API"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-mongodb-100.png" alt="MongoDB"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-mysql-logo-96.png" alt="MySQL"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img
              src="./assets/images/icons8-postgresql-96.png"
              alt="PostgreSQL"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-supabase-96.png" alt="Supabase"
          /></a>
        </li>
      </ul>
    </div>

    <!-- Programming Languages -->
    <div class="skill-category">
      <h4 class="skill-category-title">Programming Languages</h4>
      <ul class="clients-list has-scrollbar">
        <li class="clients-item skill-item">
          <a href="#"
            ><img
              src="./assets/images/icons8-c-programming-100.png"
              alt="C Programming"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img
              src="./assets/images/icons8-c++-100.png"
              alt="C++ Programming"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img
              src="./assets/images/icons8-javascript-100.png"
              alt="JavaScript"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img
              src="./assets/images/icons8-typescript-96.png"
              alt="TypeScript"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-python-100.png" alt="Python"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-java-96.png" alt="Java"
          /></a>
        </li>
      </ul>
    </div>

    <!-- Tools & Technologies -->
    <div class="skill-category">
      <h4 class="skill-category-title">Tools & Technologies</h4>
      <ul class="clients-list has-scrollbar">
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-git-96.png" alt="Git"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-github-96.png" alt="GitHub"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img
              src="./assets/images/icons8-amazon-web-services-96.png"
              alt="AWS"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-docker-96.png" alt="Docker"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-jwt-96.png" alt="JWT"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-agile-100.png" alt="Agile"
          /></a>
        </li>
        <li class="clients-item skill-item">
          <a href="#"
            ><img src="./assets/images/icons8-vs-code-96.png" alt="VS Code"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</section>
